.panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\e082";
	float: right;
	color: $text-color;
}
.panel-heading .accordion-toggle.collapsed:after {
	content: "\e081";
}
.accordion-toggle:hover {
	text-decoration: none;
}
.accordion-toggle:focus {
	text-decoration: none;
}