.forbidden403 {
	padding-top: 20px; height: 100vh;
	background-color: lighten($red, 100%);
	text-align: center;
	overflow: auto;
	.image {
		height: 120px; width: 120px;
	}
	.code, .header {
		font-weight: bold;
		font-size: 60px;
		font-family: Algerian;
		color: darken($red, 10%);
	}
	.body {
	
	}
}